.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;

    & > * {
      border-top: var(--border);
    }

    @include tablet {
      width: 100%;
    }
  }

  &__element {
    @include fluid-text(30, 18);

    padding: fluid(25, 10) fluid(50, 10);
    border: none;
    border-top: var(--border);
    border-right: var(--border);
    background-color: inherit;
    color: var(--color-white);

    &:first-child {
      border-top-left-radius: var(--border-radius-l);
      border-left: var(--border);
    }

    &:last-child {
      border-top-right-radius: var(--border-radius-l);
    }

    &.is-active {
      background-color: var(--color-orange);
    }

    @include tablet {
      width: 100%;
    }
  }

  &__body {
    padding: fluid(10, 7);
    border: var(--border);
    border-radius: var(--border-radius-l);
    border-top-left-radius: 0;

    @include tablet {
      border-top-right-radius: 0;
    }
  }
}
