.accordion {
  padding: fluid(15, 10);
  border-radius: var(--border-radius-l);

  @include hover(false) {
    background-color: #262626;
  }

  &.active {
    @include hover(false) {
      background-color: inherit;
    }
  }

  &__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: var(--transition-duration);
    padding-right: 50px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--color-white);
      border-radius: 2px;
      transition: var(--transition-duration);
    }

    &::before {
      width: 18px;
      height: 2.5px;
    }

    &::after {
      width: 2.5px;
      height: 18px;
      margin-right: 8px;
    }
  }

  &.active {
    .accordion__title {
      &::after {
        opacity: 0;
        transform: translateY(-50%) scaleY(0.1);
      }
    }

    .accordion__content {
      max-height: 100%;
      opacity: 1;
      padding: 10px 0 15px;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }

  &__table {
    width: 100%;

    &-td {
      @include fluid-text(20, 13);

      padding: fluid(12, 5) fluid(12, 0);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &:last-child {
        min-width: 100px;
        text-align: right;
        color: var(--color-orange);
        font-weight: 600;
      }
    }
  }
}
